body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#actualizar {
    padding: 10px 20px;
    margin-bottom: 20px;
}

/* Contenedor principal */
.contenedor-graficos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: nowrap;
}

/* Tarjetas */
.panel {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
}

/* Google Chart */
#graficoGoogle {
    width: 500px;
    height: 450px;
}

/* D3 */
#graficoD3 {
    width: 500px;
    height: 450px;
    background: white;
}